@font-face {
  font-family: 'Impact';
  src: url('fonts/impact.woff') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
body{
	font-family: 'Open Sans', sans-serif;
}
p{
	font-size: 16px;
	font-weight: 400;
}
@media (min-width: 992px) {
    #mainNav {
        padding: 0px 0 30px !important;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: transparent;
    }
    #mainNav .navbar-brand {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        margin-top: 20px;
    }
   #mainNav .navbar-nav .nav-item .nav-link {
        font-family: Open Sans;
        font-weight: 600;
        transition: all 0.3s ease 0s;
        padding: 35px 19px 25px 19px;
        color: #ffffff;    }
    #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    #mainNav .navbar-nav .nav-item .nav-link:hover{
    color: #ffffff;
    background-color: #40afcc4a;
    border-bottom: 6px solid #40afcc;
    }
    #mainNav.navbar-shrink {
        background-color: #000000ba;
        padding: 0px 0 0px !important;
    }
    #mainNav.navbar-shrink .navbar-brand {
        margin-top: -3px;
        /* padding: 0px 0; */
    }
}

.navbar-nav li {
    position: relative;
}
.navbar-nav li a:hover {
    font-weight: 700;
    background: #2caacb4a;
}
.nav-item a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  bottom: 0;
  left: 0;
  background: #40afcc;
  opacity: 1;
  visibility: hidden;
  transform: scaleX(0);
  transition: .25s linear;
}
.nav-item a:hover:before,
.nav-item a:focus:before{
  visibility: visible;
  transform: scaleX(1);
}
.navbar-nav a {
    color: #fff !important;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    transition: .4s ease;
}
.nav-item .active{
      background: #40afcc4a;
}
.nav-item .active::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  bottom: 0;
  left: 0;
  background: #40afcc;
}
.navbar-toggler {
    color: #ffffff !important;
    border: 2px solid #ffffff !important;
    border-radius: 0;
    padding: 5px 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.navbar-toggler:hover {
    border: 2px solid #333333 !important;
    background-color: #ffffff;
    color: #333333 !important;
}
.navbar-toggler span {
    font-size: 24px;
}
.navbar-toggler:hover span{
	color: #e59700;
	
}

.carousel{
	position: relative;
}
.carousel-inner{}
.carousel-inner .carousel-item{}
.carousel-inner .carousel-item img{}
.carousel-inner .carousel-item img:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #002327a3;
    z-index: 1;
}
.carousel-caption {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 600px;
}

.carousel-caption h5 {
    font-size: 65px;
}
.carousel-caption span{
	color: #40afcc;
}
.carousel-caption p{
    font-size: 20px;
    margin-bottom: 30px;
}
.carousel-caption ul{}
.carousel-caption ul li{
	display: inline-block;
	list-style-type: none;
}

.btn-custom {
    color: #ffffff;
    background-color: #40afcc;
    border-radius: 0;
    padding: 20px 30px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 18px;
    border: 2px solid #40afcc;
}
.carousel-control-prev {
    left: 0;
    top: 305px;
    width: 30px;
    height: 25px;
	font-size: 14px;
	transition: 0.5s;
}
.carousel-control-next {
    left: 0;
    top: 280px;
    width: 30px;
    height: 25px;
	font-size: 14px;
	transition: 0.5s;
}
.carousel-control-prev:hover, .carousel-control-next:hover{
	width: 50px;
	background-color: #212529;
}


.first-child {
    border-bottom-left-radius: 30px;
}
.last-child {
    border-bottom-right-radius: 30px;
}
.btn-custom:hover{
	color: #ffffff;
	background-color: #40afcc00;
	border: 2px solid #40afcc;
}




.follow-me {
    position: absolute;
    top: 218px;
    right: 125px;
    z-index: 1;
}
.social{
	
}
.icon{}
.social ul{}
.social ul li{
	margin-bottom: 10px;
}
.social ul li a{}
.social ul li a i{
	color: #808080;
	width: 30px;
	height: 30px;
	padding: 5px;
	border: 1px solid #ffffff;
	border-radius: 50%;
	display: block;
	text-align: center;
	background-color: #ffffff;
}
.social ul li a i:hover{
	color: #ffffff;
	background-color: #40afcc;
	border: 1px solid #40afcc;
}
.follow{
    position: absolute;
    margin-top: 52px;
    height: 150px;
    width: 91px;
    right: -30px;
}
.follow p{
	 font-size: 18px;
	 color: #ffffff;
	 transform: rotate(-90deg);
 }


.about-me-section{
    margin-top: 162px;
}
.image{
	max-width: 100%;
}
.image img{
    max-width: 100%;
}
.heading{
    margin-top: 40px;
}
.heading h1{
    font-size: 70px;
    color: #40afcc;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}
.heading p {
    font-size: 16px;
    color: #4d4d4d;
}
.about-me-section .heading h1{
	position: relative;
}
.about-me-section .heading h1::after{
	content: "WELCOME";
    position: absolute;
    text-transform: uppercase;
    left: 0;
    color: #f7f7f7;
    z-index: -10;
    font-size: 120px;
    font-family: 'Impact';
    top: -6px;
    right: 0;
}



.skill-section{
    margin-top: 120px;
}
.skill-section .heading h1{
	position: relative;
}
.skill-section .heading h1::after{
	content: "MY EXPERTISE AREAS";
    position: absolute;
    text-transform: uppercase;
    left: 0;
    color: #f7f7f7;
    z-index: -10;
    font-size: 120px;
    font-family: 'Impact';
    top: -6px;
    right: 0;
}
.heading2{
    margin-top: 80px;
    margin-bottom: 30px;
}
.heading2 h5{
    text-align: center;
	font-size: 30px;
	color: #40afcc;
	font-weight: 600;
}
.area {
    padding-left: 0px !important;
    padding-right: 0px !important;
    max-width: 260px;
    margin-left: 7px;
    margin-right: 7px;
	margin: 0 auto;
}
.image-area{
	width: 100%;
}
.image-area img{
	width: 100%;
}
.image-area1{
	width: 100%;
}
.image-area1 img{
	width: 100%;
}
.image-area1:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #38302fe0;
    transform: scale(0);
}
.image-area1:hover:before{
	transform: scale(1);
}
.image-area1 .logo{
	position: absolute;
	opacity: 0;
}
.image-area1:hover .logo{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
}
.image-area1 .logo img{}
.image-area1 .logo p{
	color: #ffffff;
	font-size: 17px;
	font-weight: 600;
	text-align: center;
}
.image-area1 .logo .logo1{
	position: absolute;
	opacity: 0;
}
.image-area1:hover .logo .logo1{
	position: absolute;
	top: 50%;
	left: 80%;
	transform: translate(220%, 120%);
	opacity: 1;
}
.image-area1 .logo .logo1 a{}
.image-area1 .logo .logo1 a img{}
.image-area2{
	width: 100%;
}
.image-area2 img{
	width: 100%;
}
.image-area2:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
        background-color: #f0db4fe3;
    transform: scale(0);
}
.image-area2:hover:before{
	transform: scale(1);
}
.image-area2 .logo2{
	position: absolute;
	opacity: 0;
}
.image-area2:hover .logo2{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
}
.image-area2 .logo2 img{}
.image-area2 .logo2 p{
	color: #000000;
	font-size: 17px;
	font-weight: 600;
	text-align: center;
}
.image-area2 .logo2 .logo1{
	position: absolute;
	opacity: 0;
}
.image-area2:hover .logo2 .logo1{
	position: absolute;
	top: 50%;
	left: 80%;
	transform: translate(220%, 120%);
	opacity: 1;
}
.image-area2 .logo2 .logo1 a{}
.image-area2 .logo2 .logo1 a img{}

.area1{
    padding-left: 0px !important;
    padding-right: 0px !important;
    max-width: 350px;
    margin-left: 7px;
    margin-right: 7px;
	margin: 0 auto;
}
.image-area3{
	width: 100%;
}
.image-area3 img{
	width: 100%;
}
.image-area3:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #323330d1;
    transform: scale(0);
}
.image-area3:hover:before{
	transform: scale(1);
}
.image-area3 .logo2{
	position: absolute;
	opacity: 0;
}
.image-area3:hover .logo2{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
}
.image-area3 .logo2 img{}
.image-area3 .logo2 p{
	color: #ffffff;
	font-size: 17px;
	font-weight: 600;
	text-align: center;
}
.image-area3 .logo2 .logo1{
	position: absolute;
	opacity: 0;
}
.image-area3:hover .logo2 .logo1{
	position: absolute;
	top: 50%;
	left: 80%;
	transform: translate(220%, 120%);
	opacity: 1;
}
.image-area3 .logo2 .logo1 a{}
.image-area3 .logo2 .logo1 a img{}
.area2{
    padding-left: 0px !important;
    padding-right: 0px !important;
    max-width: 350px;
    margin-left: 7px;
    margin-right: 7px;
	margin: 0 auto;
}
.image-area4{
	width: 100%;
}
.image-area4 img{
	width: 100%;
}
.image-area4:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #323330d1;
    transform: scale(0);
}
.image-area4:hover:before{
	transform: scale(1);
}
.image-area4 .logo2 {
    position: absolute;
    opacity: 0;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image-area4:hover .logo2{
	opacity: 1;
}
.image-area4 .logo2 img{}
.image-area4 .logo2 p{
	color: #ffffff;
	font-size: 17px;
	font-weight: 600;
	text-align: center;
}
.image-area4 .logo2 .logo1{
	position: absolute;
	opacity: 0;
}
.image-area4:hover .logo2 .logo1{
	position: absolute;
	top: 50%;
	left: 80%;
	transform: translate(220%, 120%);
	opacity: 1;
}
.image-area4 .logo2 .logo1 a{}
.image-area4 .logo2 .logo1 a img{}
.heading3{
	text-align: center;
	margin-top: 80px;
}
.heading3 h5{
	font-size: 30px;
	color: #40afcc;
	font-weight: 600;
	margin-bottom: 30px;
}
.heading3 .graphic{
	max-width: 350px;
}
.heading3 .graphic:before{
	content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #323330d1;
    transform: scale(0);
}
.heading3 .graphic:hover:before{
	transform: scale(1);
}
.heading3 .graphic .logo2{
	position: absolute;
	opacity: 0;
}
.heading3 .graphic:hover .logo2{
	position: absolute;
	top: 50%;
	left: 80%;
	transform: translate(220%, 120%);
	opacity: 1;
}


.resume-section {
    margin-top: 120px;
}
.resume-section .heading h1 {
    position: relative;
}
.resume-section .heading h1::after{
	content: "MY AWESOME STORY";
    position: absolute;
    text-transform: uppercase;
    left: 0;
    color: #f7f7f7;
    z-index: -10;
    font-size: 120px;
    font-family: 'Impact';
    top: -6px;
    right: 0;
}
.edu {
    margin-top: 150px;
}
.edu h3 {
    font-size: 22px;
    font-weight: 600;
    color: #aaaaaa;
    margin-bottom: 80px;
}
.education-section, .experience-section{
    position: relative;
    cursor: pointer;
}
.education-section h3, .experience-section h3{
	margin-bottom: 40px;
}
.education, .experience{
	margin-top: 40px;
    position: relative;
    transition: .4s ease;
    padding: 0 0 30px 0;
}
.education::after, .experience::after{
	content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background: #40afcc;
    left: -11px;
    top: -5px;
    border-radius: 50%;
}
.education-section:hover .education::after, .experience-section:hover .experience::after{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background: #fff;
    left: -11px;
    top: -5px;
    border-radius: 50%;
    z-index: 100;
    box-shadow: 0px 0px 6px 2px #40afcc;
    transition: .4s ease;
    border: 2px solid #40afcc;
}
.education div, .experience div{
	transition: .4s ease;
    padding: 0 30px 30px;
    height: 270px;
}
.education:hover, .experience:hover{
	padding: 0px 6px 30px 40px;
}
.education:hover h4, .education:hover span, .experience:hover h4, .experience:hover span{
	 color: #40afcc;
} 
.education-section:hover .education div, .experience-section:hover .experience div{
	background: url(../images/ellipse.png) no-repeat center center;
    background-size: cover;
}
 .education span, .experience span{
	font-size: 22px;
    color: #242424;
    font-weight: 400;
    border: 1px solid;
    padding: 5px 6px;
    border-radius: 0 0 15px 0;
 }
 .education h4, .experience h4{
	font-size: 22px;
    text-transform: uppercase;
    color: #242424;
    font-weight: 700;
    margin-top: 18px;
 }
 .education h6, .experience h6{
	color: #242424;
    font-size: 18px;
    font-weight: 400;
    margin-top: 13px;
 }
 .education p, .experience p{
	font-size: 16px;
    color: #242424;
    font-weight: 300;
    margin-top: 34px;
 }

.oxford-university {
    margin-top: -40px;
}
.glamorgan-university {
    margin-top: -40px;
}
.code-institute{
	cursor: pointer;
}
.code-institute::after, .oxford-university::after, .glamorgan-university::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 101%;
    background: #40afcc;
    top: 0;
    left: -3px;
}


.work-section{
	margin-top: 120px;
}
.work-section .heading h1{
	position: relative;
}
.work-section .heading h1::after{
	content: "MY AWESOME STORY";
    position: absolute;
    text-transform: uppercase;
    left: 0;
    color: #f7f7f7;
    z-index: -10;
    font-size: 120px;
    font-family: 'Impact';
    top: -6px;
    right: 0;
}
.btn-isotipe{
	color: #9d9d9d;
	font-size: 24px;
	border: 2px solid #ffffff;
	border-radius: 0px;	
}
.btn-isotipe:hover{
	color: #40afcc;
	border: 2px solid #40afcc;
	border-bottom-right-radius: 20px;
}
.btn-isotipe:active, .btn-isotipe.is-checked{
	color: #40afcc;
	border: 2px solid #40afcc;
	border-bottom-right-radius: 20px;
}
.btn-isotipe.is-checked{
	
}
.btn-isotipe:active{
	
}
.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: none;
}



.contact-section{
}
.project-section{
	background: url(../images/shape.png) no-repeat;
    background-size: cover;
	padding: 50px 50px 50px 50px;
	margin-top: 184px
}


.project{

}
.project h3{
	color: #ffffff;
	font-size: 45px;

}
.project h3 span{
	font-weight: 600;
}
.btn-custom1{
	color: #40afcc;
    background-color: #ffffff;
    border-radius: 0;
    padding: 10px 25px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 18px;
    border-bottom-right-radius: 30px;
	margin-top: 25px;
}

.btn-custom1:hover{
	color: #40afcc;
    background-color: #ffffff;
    box-shadow: 0px 0px 11px 1px #fff;
}
.contact{
	margin-top: 100px;
}
.get-in-touch{
	margin-top: 120px;
}
.get-in-touch .heading{
	position: relative;
}
.get-in-touch .heading h1::after{
	content: "DROP ME A LINE";
    position: absolute;
    text-transform: uppercase;
    left: 0;
    color: #f7f7f7;
    z-index: -10;
    font-size: 120px;
    font-family: 'Impact';
    top: -6px;
    right: 0;
}

input[type="text"]{
  padding:30px;
  margin-bottom:30px;
  border:1px solid #40afcc;
  border-radius: 0;
}
input[type="email"]{
  padding:30px;
  margin-bottom:30px;
  border:1px solid #40afcc;
  border-radius: 0;
}
input[type="subject"]{
  padding:30px;
  margin-bottom:30px;
  border:1px solid #40afcc;
  border-radius: 0;
}
input::placeholder, textarea::placeholder {
	color: #dcdcdc !important;
	font-size: 18px;
	font-weight: 400;
}
textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid #40afcc !important;
    border-radius: 0 !important;
    color: #aaaaaa;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.btn-custom2 {
    color: #ffffff;
    background-color: #40afcc;
    border-radius: 0;
    padding: 20px 30px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 18px;
    border: 2px solid #40afcc;
	border-bottom-right-radius: 30px;
}
.btn-custom2:hover{
	color: #ffffff;
    background-color: #0f8aab;
}
.map {
    height: 342px;
}
.embed-responsive {
    height: 100%;
}
.community-section{
	margin-top: 100px;
	margin-bottom: 100px;
}
.box-area{}
.box-area a{}
.box-area a img{}


footer{
	background-color: #40afcc;
}
.order{
	
}
.order p{
	text-align: center;
	margin-top: 35px;
	margin-bottom: 35px;
	font-size: 22px;
	color: #ffffff;
}












